* {
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: moccasin;
}

img {
    object-fit: cover;
}

#id-photo {
    width: 300px;
    height: 400px;
    position: relative;
    border-radius: 50%;
}

.top-section {
    height: auto;
    width: auto;
    margin: auto;
    position: fixed;
    text-align: left;
}

.about-section {
    height: auto;
    width: 400px;
    margin: auto 20px;
    float: left;
}