* {
    box-sizing: border-box;
    font-family: sans-serif;
}

img {
    object-fit: cover;
}

#id-photo {
    width: 300px;
    height: 400px;
    position: relative;
    border-style: solid;
    border-width: 2px;
}

.about-section {
    height: auto;
    width: 400px;
    margin: auto 20px;
}